.onfLogo{
    /* width: 100%;
    height: 100px; */
    width: 10%;
    float: left;
    padding-top: 10px;
    margin: auto;
    filter: opacity(0.5) drop-shadow(0 0 0 white);
}
.onfLogoBlack{
    width: 10%;
    float: right;
    padding-top: 5px;
}

@media (max-width: 640px){
    .onfLogoBlack{
        width: 22%;
    }
}